.div{
    border: 3px solid #660013;
    color: white;
    width: 50%;
    margin-left: 500px;
    
}

p{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

body{
    background-color: #FFB7C5 
}

.botao{
    border: 5px solid white ;
    border-radius: 15px;
    padding: 10px;
    margin-left: 420px;
    color: white;
    margin-bottom: 10px;
}
