/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/app/produto/[id]/produto.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.div{
    border: 3px solid #660013;
    color: white;
    width: 50%;
    margin-left: 500px;
    
}

p{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

body{
    background-color: #FFB7C5 
}

.botao{
    border: 5px solid white ;
    border-radius: 15px;
    padding: 10px;
    margin-left: 430px;
    color: white;
    margin-bottom: 10px;
}

