.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FFB7C5;

}

.inputs{
  font-size: 25px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: solid #af4054 3px;
  text-decoration: none;
}

.inputs:hover{
  border-color: #660013;
  
}

.field{
  border: 3px solid #660013;
  padding: 30px;
  
}

.ps{
  margin-left: 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.botao{
  border: 5px solid white ;
  border-radius: 15px;
  padding: 10px;
  margin-left: 40px;
  color: white;
}

.voltar{
  border: 5px solid white ;
  border-radius: 15px;
  padding: 12px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.produtos{
  margin-top: 20px;
  padding: 10px;
  margin-left: 5px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  border: #660013 solid 3px;
  width: 50%;
}

.imgs{
  width: 120px;
  margin-bottom: 20px;
}

.pproduto{
  font-size: 20px;
  padding: 25px;
  color: white;
  text-align: center  ;
}

.mainp{
  background-color: #FFB7C5;

}

.voltarp{
  border: 5px solid white ;
  border-radius: 15px;
  padding: 12px;
  margin-left: 900px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  
}
.verm{
  border: 5px solid white ;
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
  padding: 12px;
}